<%- include("includes/head.ejs") %>
<body>
    <h1>Your Searched for user: 
        <%= data.name %>
    </h1>
    <ul>
        <li>Followers : <%= data.followers %></li>
        &nbsp;&nbsp;
        <li>Following: <%= data.following %></li>
    </ul>
    <button>Follow me</button>
    <button>Message Me</button>
    <hr>
    <% for(let post of data.posts) {%>
        <img src="<%=post.image %>" alt="some image">
        <ul>
            <li> Likes <%= post.likes %></li>
            <li> Comments <%= post.comments %></li>
        </ul>
    <% } %>
    <script src="/app.js"></script>
</body>
</html>